*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}

.navbar{
    display: flex; justify-content: space-between; align-items: center;width: 100%;
    background: #2979FF;  padding: 10px 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    top: 0; position: sticky; z-index: 1000; margin-bottom: 0px;}

    .navbar img{ height: 50px; width: 50px; border-radius: 30px;}
    .navbar h1{ background: linear-gradient(90deg, #ffff, #ec4899); background-clip: text;
    -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 24px; font-weight: 700;}
    .nav-links{
        display: flex; list-style: none; gap: 2.5rem; align-items: center;
    }
    .nav-links li a{
        text-decoration: none; color: white; font-weight: 500; font-size: 20px;
        transition: color 0.3s ease; cursor: pointer; position: relative;
    }
    nav ul li a::after{
    position: absolute; left: 0; content: ''; width: 0;
    height: 3px; bottom: -5px; background: #ec4899; transition: 0.5s;}
    
    nav ul li a:hover::after{width: 100%;}

    .nav-links li a:hover{
        color: transparent; background: linear-gradient(90deg, #ffff, #ec4899); background-clip: text;}
    
   

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1200;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: all 0.4s ease;
}

/* Animate to X */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);

}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0px;

    width: 120px;              
    padding: 10px;

    background: rgba(15, 15, 233, 0.158);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);

    flex-direction: column;
    align-items: center;
    gap: 12px;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1300;
  }

  /* Show popup */
  .nav-links.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .nav-links li a{
    font-size: 18px;
    font-weight: 600;
  }
  .nav-links button{
    font-size: 14px;
    padding: 6px 12px;
    height: 3rem;
    font-weight: 600;
  }
}